<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="{{ url_for('static', filename='img/number.jpg') }}">
            </div>
            <span class="white-text name">{{ current_user.name }}</span>
            <span class="white-text email">{{ current_user.username }} ({{current_user.role}})</span>
        </div>
    </li>
    <li><a href="#!">Test</a></li>
    <li><a href="#!">Previous Scores</a></li>
</ul>
<!--a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a-->